html, body {
  font-family: Arial, Courier, "Courier New";
  background-color: white;
  color: #303030;
  padding: 10px;
  font-size: 125%;
}

h1 {
  background-color: #303030;
  color: white;
  
  margin: 0;
  padding: 0;
  padding-left: 40px;
  padding-top: 5px;
  padding-bottom: 5px;
  border: 0;
  
  position: absolute;
  top: 0;
  left: 0;
  
  width: 100%;
}

#main-body {
  padding: 15px;
}

a {
  text-decoration: none;
  font-weight: bold;
  border: black solid 1px;
  border-radius: 5px;
  padding: 10px;
}

img {
  display: block;
}
