html, body {
  font-family: Arial, Courier, "Courier New";
  background-color: white;
  color: #303030;
  padding: 10px;
}

h1 {
  background-color: #303030;
  color: white;
}

a {
  text-decoration: none;
  font-weight: bold;
}

img {
  display: block;
}
